@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-reg';
  src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}



body, html{
  margin: 0;
  padding: 0;
}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.pokemon-image {
  width: 100%;
  height: auto;
  background-color: #ddd8d8;
  object-fit: cover;
}

.card-header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background: #f7f7f7;
}

.card-body {
  padding: 15px;
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 768px) {
  .card {
      width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .card-body {
      padding: 10px;
  }

  .card-header {
      flex-direction: column;
      text-align: center;
  }
}


.number {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-top: 7px;
  font-family: Montserrat;
}

.name {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  font-family: Montserrat;
  margin-top: 4px;
}


.types {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.type {
  background-color: #d4e4ff;
  color: #ffffff;
  font-weight: bold;
  font-family: Montserrat-reg;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 12px;
  margin: 0 4px;
}

.abilities,
.stats {
  font-family: Montserrat-reg;
  margin-bottom: 12px;
}

.abilities ul,
.stats ul {
  padding-left: 20px;
  margin: 8px 0;
  list-style-type: none;
  font-size: 15px;

}

.abilities strong{
  font-family: Montserrat;
}

.stats strong{
  font-family: Montserrat;
}

.stat-name {
  font-weight: bold;
  color: #555;
}

.stat-value {
  color: #ff5e57;
  font-weight: bold;
}

