@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Amsterdam';
  src: url('./assets/fonts/Amsterdam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmsterdamThr';
  src: url('./assets/fonts/AmsterdamThr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('./assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900; 
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800; 
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Dark mode scrollbar */
.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #333;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777;
}